# Final Presentation Notebook

### Introduction

In my personal notebook, I analyze which neighboorhood was cleaned up the most to determine which one is the most environmentally safe. This will be done by analyzing the area covered in each neighborhood by clean-up crews. Then, I will combine that data with data from another data set that contains overall areas of each neighborhood to see which area was cleaned up the most.

#### Step 1. Import all the datasets that must be used.

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
beautify_pgh = pd.read_csv('Pittsburgh_Beautify_The_Burgh.csv')
neighborhoodData = pd.read_csv('neighborhoodData.csv')

#### Step 2. Here I will add up the areas covered by groups in each neighborhood and sort them from greatest to least. The first neighborhood would have had the most ground covered.

In [45]:
import pandas as pd
df = pd.read_csv('Pittsburgh_Beautify_The_Burgh.csv')
print(df.groupby('Neighborhood').mean().sort_values(['SHAPE_Area', 'Neighborhood'],ascending =[False,True]))

                                 FID   Council   IDNumber  SHAPE_Length  \
Neighborhood
Lower Lawrenceville        42.000000  7.000000  33.000000   2224.735725
Spring Hill-City View       6.000000  2.000000   5.000000   3923.923120
Mount Washington           39.222222  2.222222  31.666667   2272.368294
Beltzhoover                31.000000  3.000000  26.000000   1639.648261
Strip District             22.000000  7.000000  17.500000   2292.351206
South Side Flats            4.000000  3.000000   4.000000   1101.699628
South Oakland              20.833333  4.666667  18.666667   2382.174423
Point Breeze               53.000000  9.000000  41.000000   3774.923505
West Oakland               18.000000  6.000000  16.000000   1901.673849
Central Business District  61.000000  6.000000  47.000000   2625.398688
North Oakland              18.400000  8.000000  16.400000   2421.084375
Elliott                     3.000000  2.000000   3.000000   1671.511468
East Liberty               48.000000  9.000000  35.000000   2626.405565
Central Oakland            13.285714  3.000000  12.000000   1945.561128
Shadyside                  58.000000  8.000000  44.000000   2135.266798
North Point Breeze         46.000000  9.000000  37.000000   1731.894251
Arlington                   2.000000  3.000000   2.000000   1829.404709
Homewood South             60.000000  9.000000  46.000000   1817.295731
Allegheny West             51.000000  1.000000  39.000000   1725.966581
Sheraden                   59.000000  2.000000  45.000000   1690.542665
Greenfield                 52.000000  5.000000  40.000000   1578.363474
Hazelwood                  57.000000  5.000000  43.000000   1533.122947
Bluff/Uptown               44.000000  6.000000  36.000000    834.420970
Carrick                    55.500000  4.000000  42.000000    865.244558
Allentown                  49.500000  3.000000  38.000000    553.681375

                              SHAPE_Area
Neighborhood
Lower Lawrenceville        207380.988028
Spring Hill-City View      124124.679277
Mount Washington           114447.751640
Beltzhoover                 95490.078141
Strip District              81612.490864
South Side Flats            71281.121826
South Oakland               45080.476896
Point Breeze                41690.187722
West Oakland                40272.943565
Central Business District   39050.764519
North Oakland               36977.334864
Elliott                     33866.780411
East Liberty                31317.548923
Central Oakland             29136.833529
Shadyside                   28277.186934
North Point Breeze          25093.809446
Arlington                   24067.037087
Homewood South              19290.819834
Allegheny West              19151.980159
Sheraden                    16024.609925
Greenfield                  15759.864536
Hazelwood                   11375.052841
Bluff/Uptown                 9187.238201
Carrick                      7651.803066
Allentown                    7587.135447

#### Step 3. Next, I will extract the neighborhood name and area from the Beautify Pittsburgh dataset and sort them the in alphabetical order. I will divide the area by 4046.86 to change from square meters to acres

In [68]:
temporarySet = neighborhoodData.sort_values(by = "hood")
temporarySet = sortedarea[['hood','acres']]
dataSetOne = sortedareadf.reset_index(drop=True)
dataSetOne

                   hood    acres
0      Allegheny Center  134.703
1        Allegheny West   90.841
2             Allentown  189.608
3             Arlington  302.320
4     Arlington Heights   84.592
..                  ...      ...
85  Upper Lawrenceville  260.349
86             West End  128.679
87         West Oakland  138.372
88             Westwood  445.009
89              Windgap  266.678

[90 rows x 2 columns]

In [77]:

# using the df from the last step create a
#new data frame 

##neighborhoodFrame = pd.read_csv('neighborhoodData.csv')
##df = pd.read_csv('Pittsburgh_Beautify_The_Burgh.csv')

dataSetTwo = pd.read_csv('Pittsburgh_Beautify_The_Burgh.csv')
convertedDataNewCol= (dataSetTwo['SHAPE_Area'])/4046.86 
#convertedData is a new column insert this into NeighborhoodData



## Merge both sets and data so you can do an operation
## df= data set 1 without converstion 

newFrame = dataSetOne.merge(convertedDataNewCol)
newFrame

##newFrame = dataSetOne.merge(convertedData, left_on ='neighborhood', right_on = 'hood', suffixes='ratio','convertedData')
#newDataSet = newFrame[['Neighborhood', 'convertedData','acres', 'ratio']]

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False